 <!-- ============================ Page Title Start================================== -->
 <div class="page-title">
  <div class="container">
      <div class="row">
          <div class="col-lg-12 col-md-12">

              <h2 class="ipt-title">FAQ's</h2>
              <span class="ipn-subtitle">Frequently Asked Question</span>

          </div>
      </div>
  </div>
</div>
<!-- ============================ Page Title End ================================== -->

<!-- ============================ Main Section Start ================================== -->
<section class="min-sec">
  <div class="container">
      <div class="row">

          <!-- Single blog Grid -->
          <div class="col-lg-10 col-md-11 col-sm-12">
              <div class="accordion" id="accordionExample">
                  <div class="card">
                      <div class="card-header" id="headingOne">
                          <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left" type="button"
                                  data-toggle="collapse" data-target="#collapseOne" aria-expanded="true"
                                  aria-controls="collapseOne">
                                  How Workoo Work?
                              </button>
                          </h2>
                      </div>

                      <div id="collapseOne" class="collapse show" aria-labelledby="headingOne"
                          data-parent="#accordionExample">
                          <div class="card-body">
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                              praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                              excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                              officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                              rerum facilis est et expedita distinctio.
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingTwo">
                          <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button"
                                  data-toggle="collapse" data-target="#collapseTwo" aria-expanded="false"
                                  aria-controls="collapseTwo">
                                  Benifits of Workoo Job Board Site?
                              </button>
                          </h2>
                      </div>
                      <div id="collapseTwo" class="collapse" aria-labelledby="headingTwo"
                          data-parent="#accordionExample">
                          <div class="card-body">
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                              praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                              excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                              officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                              rerum facilis est et expedita distinctio.
                          </div>
                      </div>
                  </div>
                  <div class="card">
                      <div class="card-header" id="headingThree">
                          <h2 class="mb-0">
                              <button class="btn btn-link btn-block text-left collapsed" type="button"
                                  data-toggle="collapse" data-target="#collapseThree" aria-expanded="false"
                                  aria-controls="collapseThree">
                                  Working Process of Workoo?
                              </button>
                          </h2>
                      </div>
                      <div id="collapseThree" class="collapse" aria-labelledby="headingThree"
                          data-parent="#accordionExample">
                          <div class="card-body">
                              At vero eos et accusamus et iusto odio dignissimos ducimus qui blanditiis
                              praesentium voluptatum deleniti atque corrupti quos dolores et quas molestias
                              excepturi sint occaecati cupiditate non provident, similique sunt in culpa qui
                              officia deserunt mollitia animi, id est laborum et dolorum fuga. Et harum quidem
                              rerum facilis est et expedita distinctio.
                          </div>
                      </div>
                  </div>
              </div>
          </div>

      </div>
  </div>
</section>
<!-- ============================ Main Section End ================================== -->
