<div class="row">
  <div class="col-lg-12 col-md-12 col-sm-12">
      <!-- Breadcrumbs -->
      <div class="bredcrumb_wrap">
          <nav aria-label="breadcrumb">
            <ol class="breadcrumb">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active" aria-current="page">Dashboard</li>
            </ol>
          </nav>
      </div>
  </div>
</div>

<div class="row">
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="dashboard-stat">
          <div class="dashboard-stat-icon widget-1"><i class="ti-location-pin"></i></div>
          <div class="dashboard-stat-content"><h4><span class="cto">{{ services.length }}</span></h4> <p>Job Posted</p></div>
      </div>
  </div>



  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="dashboard-stat">
          <div class="dashboard-stat-icon widget-3"><i class="ti-user"></i></div>
          <div class="dashboard-stat-content"><h4><span class="cto">{{ countAcceptedProposals() }}</span></h4> <p>User Applied in my jobs</p></div>
      </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="dashboard-stat">
          <div class="dashboard-stat-icon widget-2"><i class="ti-pie-chart"></i></div>
          <div class="dashboard-stat-content"><h4><span class="cto">{{proposals.length}}</span></h4> <p>My proposals</p></div>
      </div>
  </div>
  <div class="col-xl-3 col-lg-6 col-md-6 col-sm-12">
      <div class="dashboard-stat">
          <div class="dashboard-stat-icon widget-4"><i class="ti-bookmark"></i></div>
          <div class="dashboard-stat-content"><h4><span class="cto">{{ totalServices.length }}</span></h4> <p>Total jobs in website</p></div>
      </div>
  </div>
</div>

<div class="row">

</div>
